*{
    padding: 0%;
}

body{
font-family: Arial, Helvetica, sans-serif;
 background: linear-gradient(90deg, black 20% ,#000000 10%, #d71212 70%);}
 

header{
    text-align: center;

}
.formulario{
margin-left: 2rem;
margin-right: 2rem;
border-style: dashed;
padding: 1rem;
text-align: center;
}
input{
margin-bottom: 1rem;
padding: 0.4rem;
}
label{
    color: #ffffff;
}